.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f8f8;
  }
  
  .contact-box {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    position: relative;
  }
  
  .contact-title {
    margin-bottom: 15px;
  }
  
  .contact-field {
    margin-bottom: 10px;
    text-align: left;
  }
  
  .contact-field label {
    font-weight: bold;
  }
  
  .contact-field input, 
  .contact-field textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    background-color: #f039ed;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #d72bac;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
  }
  