/* Centering the signup modal */
.b1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Signup modal box */
.b2 {
    background: rgb(252, 246, 246);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Close button */
.btt {
    position: absolute;
    top: 10px;
    right: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* Signup Heading */
.logg {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

/* Input field styling */
.b3 {
    margin-top: 5px;
}

.b3 span {
    font-size: 14px;
    font-weight: 500;
    display: block;
    margin-top: 10px;
    margin-bottom: -10px;
}

.b4 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

/* Register button & login link */
.b5 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.b6  {
    background-color: #d42a7f; /* Pink */
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin-top: 5px ;
}

.b6:hover {
    background-color: #e86a9f; /* Darker pink */
}

/* Login Link */
.b7 {
    color: #4166d4; /* Blue */
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    margin-top: 10px;
}

.b7:hover {
    color: #4168eb; /* Darker blue */
    text-decoration: underline;
}
